<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.yidigun.springquickstart" />

	<!-- 
	<bean id="tv" class="polymorphism.SamsungTV" />
	 -->

	<bean id="tv" class="polymorphism.LgTV">
		<constructor-arg index="0" value="나의 카와이한" />
		<!-- 
		<property name="speaker">
			<bean class="polymorphism.DdongSpeaker" />
		</property>
		 -->
	</bean>

</beans>
